{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}

{% block body %}
<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
<script src="{{url_for('static', filename='js/contact.js')}}"></script>


<form action="{{url_for('contact_save')}}" method='post'>
  <div style="display: none">
    <p><input type = "text" id="name" name = "name" /></p>
    <p><input type = "text" id="phone" name = "phone" /></p>
    <p><input type = "text" id="email" name = "email" /></p>
    <p><input type = "text" id="message" name = "message" /></p>
    <p><input type = "submit" id="btn-submit" value = "submit" /></p>
  </div>
</form> 

<!-- Commenting out for now. Plan to add the option to switch to a normal contact page
  <div class="container">
    <form action="action_page.php">
  
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
  
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
  
      <label for="country">Country</label>
      <select id="country" name="country">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select>
  
      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
  
      <input type="submit" value="Submit">
  
    </form>
</div> -->
{% endblock %}
