<!doctype html>
<html>
  <head>
    <title>This is the title of the webpage!</title>
  </head>
  <body>
    <p>This is an example paragraph. Anything in the <strong>body</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.</p>
    <div>This is an example Div</div>
    <div>This is another example Div</div>
    <div>One Final Div</div>
    <div>Please work</div>
    <div>Please work....</div>
    <div>Final....</div>
    <div>One More....</div>
  </body>
</html>